<div class="footer-info ">
   
    <div class="airbnb-info">
        Airbnb private Limited
        <div class="info">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
            <a href="/sitemaps">sitemaps</a>
            <a href="/Conpany">Company details</a>
        </div>
    </div>
   
    <div class="info-socail">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
</div>