<div class="navbar sticky-top">
  <ul class="nav justify-content-center bottom-border ">
      <li class="nav-item">
          <a class="nav-link active" href="/listing">
              <i class="fa-sharp fa-regular fa-compass"></i>
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/listing">Listings</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/listing/new">Add New</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">Show</a>
      </li>
  </ul>
</div>
